.BottomSheeetContainer {
  background-color: #ffffff;
  border-radius: 1.5em 1.5em 0 0;
  padding: 1.5em 1em;
  position: relative;
  height: 100%;
}

.switch_Line {
  position: absolute;
  top: 6px;

  right: 49%;
  transform: translateX("-50");
  height: 4px;
  width: 35px;
  background-color: #cccccc;
}

.addTopicBtn {
  background-color: transparent;
  border: none;
  color: #28ae61;
}

.selectRoom {
  border-bottom: 1px solid #cccccc;
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectRoom button {
  border: none;
  background-color: transparent;
  border-radius: 1em;
  padding:0.5em 1.3em 0.2em 1.3em;
  color: var(--textColor);
  line-height: 1.2;
}

.selectRoom button.active{
    border:1px solid rgb(142, 150, 149);
    background-color: rgb(209, 223, 228);
}
 

.selectRoom button div{
    
    border-radius: 1.5em;

}

.selectRoom button:last-child div{
  background-color: #6099c7;
  background-image: radial-gradient(circle, rgb(163, 190, 163) 7%, rgb(78, 78, 129) 80%);
  
}




.selectRoom button svg{
    font-size: 4em;
}

.BottomSheeetContainer p{
    font-size: 1em;
    color:var(--textColor);
    text-align: center;
    font-weight: 500;
}

.letGoBtn{

    font-size: 1.3em;
    font-weight: 500;
    border:none;
    border-radius: 2em;
    color:#ffffff;
    background-color: #28ae61;
    letter-spacing: 1px;
    padding:0.3em 2em;
    text-align: center;
}